<a href="https://colab.research.google.com/github/EddersonPR/challenge-telecom-x/blob/main/TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ“š Bibliotecas y librerias

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import requests
import json
import datetime
import chardet

#ðŸ“Œ ExtracciÃ³n

In [11]:
enlaceApi = 'https://github.com/alura-cursos/challenge2-data-science-LATAM/blob/main/TelecomX_Data.json'
enlace_raw_data = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/main/TelecomX_Data.json'

In [15]:
df = pd.read_json(enlace_raw_data)
df['customer']

0       {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
1       {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
2       {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
3       {'gender': 'Male', 'SeniorCitizen': 1, 'Partne...
4       {'gender': 'Female', 'SeniorCitizen': 1, 'Part...
                              ...
7262    {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
7263    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
7264    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
7265    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
7266    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
Name: customer, Length: 7267, dtype: object

#ðŸ”§ TransformaciÃ³n

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final